<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script type="text/javascript" src="menu.js"></script> -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    </link>
    <script src="js/js_script.js"></script>

    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/vue_script.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maxmimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome = 1.0">
    <meta name="HandeheldFriendly" content=true>

</head>

<body>
    <h1 id="h1">ChefKeffs burgers n bärs</h1>
    <p>Located in the heart of Uppsala, Keff provides gourmet-level streetfood for all!</p>
    <p>Take a look at our selection of burgers and bärs below :)</p>
    <div style="overflow-block: auto;">
        <!-- <div id='table'> -->
        <table id='vueTable'>
            <thead>
                <th v-for="head in heads"></th>
            </thead>
            <tbody>
                <tr v-for="row in rows">
                    <td>{{row.name}}</td>
                    <td><img v-bind:src='"" + row.image'></td>
                    <td>{{row.isVegan}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.price}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr v-for="row in rows">
                    <td>
                        <input type="checkbox" v-bind:Id='"" + row.name' v-bind:Value='"" + row.name'
                            v-model="checkedBurgers">
                        <label v-bind:for='"" + row.name'>{{row.name}}</label>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- </div> -->
    <main>
        <h2>Customer Information</h2>
        <p>Place your order here</p>
        <section id="CustomerInfo">
            <input v-model="message" placeholder="First- and Last name"></input>
            <p></p>
            <!-- <form> 
                <p> 
                    <label for="firslastname"></label>
                    <input type="text" id="firstlastname" name="fln" required="required"
                        placeholder="First- and last name" class = 'customerinfo'>
                </p>
                <p>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail" class='customerinfo'>
                </p>
                <p>
                    <label for="phoneno"></label>
                    <input type="number" id="phoneno" name="pn" required="required" placeholder="Phone number" class='customerinfo'>
                </p>

            </form>
            <p>
                <label for="Payment">Payment</label>
                <select id="payment" name="pay">
                    <option>Swish</option>
                    <option>Credit card</option>
                    <option>Paypal</option>
                    <option>Bitcoin</option>
                    <option>spänn</option>
                </select>
            </p>
                <button id='submitbtn' class = 'customerinfo'><img
                        src=https://icons.iconarchive.com/icons/praveen/minimal-outline/256/check-icon.png> Place
                    order</button>
                    <p class = 'customerinfo'> Your order is: </p>
                    <p id = 'orderconfirm' class=customerinfo></p> -->
        </section>
        <div id='dots' v-on:click="addOrder">
            ...
        </div>
    </main>

</body>

</html>